<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clear Database</title>
</head>
<body>
    <form action="<%- path %>" method="post">
        <input type="submit" value="CLEAR DB">
    </form>
    <a href="/">BACK TO HOME</a>
</body>
</html>