<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clear Database</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="<%- path %>" method="post">
        <input type="submit" value="CLEAR DB">
    </form>
    <a href="/"><div class="bubbly-button">BACK TO HOME</div></a>
</body>
</html>