<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Confirmation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header2">Your Information:</div>
    <div class="form-box">
        <strong><div class="text">Your Username: </div> </strong>
        <div class="uiandpw"><%- name %></div>
        <br>
        <strong><div class="text">Your Password: </div></strong>
        <div class="uiandpw"><%- password %> (dont tell anyone)</div>
        <br>
        <strong><div class="text">Your Favorite Pokemon: </div></strong>
        <br>
        <div class="ul-container">
            <ul>
                <%- favs %>
            </ul>
        </div>
    </div>
    <hr>
    <a href="/"><div class="bubbly-button">BACK TO HOME</div></a>
</body>
</html>