<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Confirmation</title>
</head>
<body>
    <h2>Your Information:</h2>
    <strong>Your Username: </strong><%- name %><br>
    <strong>Your Password: </strong><%- password %> (dont tell anyone)<br>
    <strong>Your Favorite Pokemon: </strong><br>
    <ul>
        <%- favs %>
    </ul>
    <hr>
    <a href="/">BACK TO HOME</a>
</body>
</html>