<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokedex</title>
</head>

<body>
	<h1>Welcome to the Pokedex!</h1>
	<ul>
		<li>To enter your information, go to <a href="/register">Register</a></li>
		<li>To search other users, go to <a href="/lookup">Search</a></li>
		<hr>
		<li>To update your favorite Pokemon, go to <a href="/updateInfo">Update Information</a></li>
	</ul>
	<hr>
</body>

</html>
