<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lookup Users</title>
</head>
<body>
    <form action="<%- path %>" method="post" id="lookupForm">
        <fieldset>
            <legend>User Lookup</legend>
            <label>Lookup user by name: <input type="text" name="query"></label>
        </fieldset>
        <br>
        <input type="submit" value="Search">
    </form>
    <hr>
    <a href="/">BACK TO HOME</a>
</body>
</html>