<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lookup Users</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="<%- path %>" method="post" id="lookupForm">
        <fieldset>
            <legend><div class="header2">User Lookup</div></legend>
            <label>Lookup user by name: <input type="text" name="query"></label>
        </fieldset>
        <br>
        <input type="submit" value="Search">
    </form>
    <hr>
    <a href="/"><div class="bubbly-button">BACK TO HOME</div></a>
</body>
</html>